<div class="container">
    <h1>Productos pendientes de aceptar</h1>
    <div class="row">
        <div class="col-sm-4 mb-3 mt-3" *ngFor="let pr of productos; let i = index">
            <p-card [header]="pr.nombre" subheader="{{pr.precio}}" [style]="{ width: '360px'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="{{pr.imagen}}" class="imageCard"/>
                </ng-template>
                <p>
                    {{pr.descripcion}}
                </p>
                <p>
                    <span class="fw-bold"> Usuario solicitante:</span>  {{pr.usuario}}
                </p>
                <ng-template pTemplate="footer">
                    <p-button label="Aceptar" icon="pi pi-check" class="mx-2" (click)="aceptarProducto(i)"></p-button>
                    <p-button label="Rechazar" styleClass="p-button-danger" icon="pi pi-times" (click)="rechazarProducto(i)"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>
