<div class="container">
    <h1>Productos de la empresa</h1>

    <div class="row">
        <div class="col-sm-4 mb-3" *ngFor="let pr of productos">
            <p-card [header]="pr.nombre" subheader="{{pr.precio}}" [style]="{ width: '360px'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="{{pr.imagen}}" class="imageCard"/>
                </ng-template>
                <p>
                    {{pr.descripcion}}
                </p>
                <ng-template pTemplate="footer">
                    <p-button label="Agregar al Carrito" icon="pi pi-cart-plus"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>