<div class="container">
    <h1>Mis pedidos</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fecha de Entrega</th>
                <th>Estado</th>
                <th>Total</th>
                <th>Productos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of pedidos">
                <td>{{item.fechaEntrega}}</td>
                <td>{{item.estado}}</td>
                <td>{{item.total | currency:'Q':'symbol'}}</td>
                <td>
                    <ul *ngFor="let pr of item.productos">
                        <li>{{pr.nombre}}</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>